// Variables 
$green: #68cca9;
// Mixins
@mixin size($point) {
    @if $point==medium {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $point==small {
        @media screen and (max-width: 800px) {
            @content;
        }
    }
}

// Fonts        
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
// Resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// Globals
.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.column-center {
    align-items: center;
}

.split {
    justify-content: space-between;
}

.split-center {
    justify-content: space-around;
}

.right {
    align-self: flex-end;
}

.bottom {
    justify-content: flex-end;
}

.price-button {
    width: 70px;
    height: 60px;
    background: $green;
    border: none;
    color: #fff;
    margin-bottom: 15px;
    font-size: .8em;
}

// Page Styles
header {
    background: #444;
    padding: 0 5%;
    .logo {
        color: $green;
        justify-content: center;
        h2 {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
    .login {
        height: 100%;
        color: #999;
        i {
            margin-right: 20px;
        }
        span {
            border-left: 1px solid #777;
            border-right: 1px solid #777;
            padding: 14px 20px;
            display: inline-block;
        }
    }
}

.main-nav {
    padding: 0 5%;
    a {
        color: #000;
        border-left: 1px solid #eee;
        padding: 15px 15px;
        height: 100%;
        text-align: center;
        &:last-child {
            border-right: 1px solid #eee;
        }
    }
    .cart-info {
        .starred,
        .cart {
            border-left: 1px solid #eee;
            padding: 0 20px;
            i {
                margin-right: 7px;
            }
        }
        span {
            font-size: .8rem;
            border-radius: 2px;
            padding: 2px 4px;
            color: #fff;
        }
        i {
            color: #999;
        }
        .starred {
            span {
                background: #ccc;
            }
        }
        .cart {
            border-right: 1px solid #eee;
            span {
                background: $green;
                padding: 2px 8px;
            }
        }
    }
}

.Hero {
    width: 100%;
    &__slide {
        display: none;
        min-height: 600px;
        max-height: 600px;
        &.active {
            display: flex;
        }
        &-info {
            width: 50%;
            margin: 50px 0 0 auto;
            padding-right: 100px;
            &-title {
                font-size: 2rem;
                font-weight: 400;
                margin-bottom: 5px;
                @include size(medium) {
                    font-size: 1.4rem;
                }
                @include size(small) {
                    font-size: 1rem;
                }
            }
            p {
                max-width: 50%;
                font-size: 1.2rem;
                margin-bottom: 10px;
                @include size(medium) {
                    font-size: 1rem;
                }
                @include size(small) {
                    font-size: .9rem;
                }
            }
            i {
                background: #fff;
                padding: 10px;
                color: #aaa;
                &:last-child {
                    color: $green;
                }
            }
        }
        &.one {
            background: url(../images/1_Home.jpg) no-repeat top left;
            background-size: 100%;

        }
        &.two {
            color: white;
            background: url(../images/Hero_Heel.jpg) no-repeat top left;
            background-size: 100%;

        }
        &.three {
            background: url(../images/Hero_Heel2.jpg) no-repeat top left;
            background-size: 100%;
        }
        &.four {
            background: url(../images/Hero_Heel3.jpg) no-repeat top left;
            background-size: 100%;
        }
        &.five {
            background: url(../images/Hero_Heel4.jpg) no-repeat top left;
            background-size: 100%;
        }
    }
    nav {
        background: #444;
        //margin-bottom: 100px;
        padding: 10px 0;
        @include size(medium) {
            margin-top: -100px;
        }
        button {
            background: none;
            border: none;
            padding: 15px 35px 10px;
            border-top: 8px solid #222;
            position: relative;
            outline: none;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                width: 90%;
                height: 5px;
                margin: 0 auto;
                top: -7px;
                left: 0;
                right: 0;
                background: $green;
                z-index: 10;
                opacity: 0;
                transition: opacity .4s;
            }
            h3,
            span {
                font-weight: 300;
                color: #ccc;
            }
            span {
                font-size: .85em;
                margin-top: 3px;
            }
            &.active {
                &:before {
                    opacity: 1;
                }
                h3,
                span {
                    color: #fff;
                }
            }
        }
    }
}

.Specials {
    background-color: black;
    margin-top: 0;
    .one {
        background: url(../images/shoes.jpg) no-repeat center;
        background-size: 300px 200px;
    }
    .two {
        margin: 0 20px;
        background: url(../images/shoes_2.jpg) no-repeat center;
        background-size: 300px 200px;
    }
    .three {
        background: url(../images/shoes_3.jpg) no-repeat center;
        background-size: 300px 200px;
    }
    div {
        align-items: center;
        width: 300px;
        height: 250px;
        span {
            h1 {
                font-family: 'Lato';
                font-weight: 100;
                text-transform: uppercase;
                font-size: 1.5em;
                padding: 5px 30px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
            }
        }
    }
}

.gallery {
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebe7df;
    .arrivals {
        justify-content: center;
        width: 100%;
        margin: 20px 0;
        h1 {
            font-weight: 100;
        }
    }
    .sale {
        & > * {
            height: 275px;
            width: 300px;
            position: relative;
            // z-index: 100;
            // &:before {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     height: 100%;
            //     width:100%;
            //     background: #fff;
            //     z-index: -1;
            // }
        }
        .gallery-price {
            margin-bottom: 0;
            margin-left: 10px;
        }
        .gallery-title {
            font-size: 1.2em;
            margin-left: 20px;
        }
        .one {
            background: url('../images/Heel_1.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .two {
            background: url('../images/Heel_2.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .three {
            background: url('../images/Heel_3.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .four {
            background: url('../images/Heel_4.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .five {
            background: url('../images/Heel_5.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .six {
            background: url('../images/Heel_6.jpg'), #fff;
            background-repeat: no-repeat, no-repeat;
            background-position: top center, top center;
            background-size: 80%, cover;
            width: 300px;
            height: 300px;
        }
        .second {
            margin: 0 15px;
        }
    }
}

.gallery-two {
    padding-bottom: 60px;
}

.info {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #ebe7df;
    .shipping {
        max-width: 300px;
        background-color: #dfdbd4;
        padding: 40px;
        h1 {
            font-size: 1.5em;
            font-family: 'Lato';
            font-weight: 100;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        p {
            font-size: .9em;
        }
    }
    .testimonials {
        max-width: 300px;
        background-color: #dfdbd4;
        padding: 40px;
        margin: 0 20px;
        h1 {
            font-size: 1.5em;
            font-family: 'Lato';
            font-weight: 100;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        p {
            font-size: .9em;
        }
    }
    .Blog {
        max-width: 600px;
        background-color: #dfdbd4;
        padding: 40px;
        h1 {
            font-size: 1.5em;
            font-family: 'Lato';
            font-weight: 100;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        .Date {
            h6 {
                background-color: $green;
                text-align: center;
                padding: 5px 2px;
                color: #fff;
            }
            p {
                padding-top: 5px;
                font-size: .7em;
                margin-left: 10px;
            }
        }
        .second {
            margin-top: 20px;
            h6 {
                background-color: $green;
                text-align: center;
                padding: 5px 2px;
                color: #fff;
            }
            p {
                padding-top: 5px;
                font-size: .7em;
                margin-left: 10px;
            }
        }
    }
}

.footer {
    padding: 30px 0;
    background-color: #000;
    color: #BABABA;

    justify-content: center;
    h1 {
        font-size: 1em;
        font-family: 'Lato';
        margin-bottom: 20px;
        font-weight: 100;
        text-transform: uppercase;
    }
    .text {

        align-content: center;
        max-width: 350px;
        .second {
            margin-top: 10px;
        }

    }
    .twitter {
        max-width: 350px;
        margin-left: 60px;
    }
    .flickr {
        margin-left: 60px;
        max-width: 300px;
        flex-wrap: wrap;
        .header {
            width: 100%;
        }
        img {
            max-height: 80px;
            margin: 5px;
        }
    }
}


















